.character {
  flex-basis: 30%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
  border-radius: 10px;
  cursor: pointer;

  img {
    flex-basis: 20%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }
  div {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    flex-basis: 80%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 14px;
      color: white;
    }
  }
}
